@import "tailwindcss";
@plugin "tailwindcss-background-patterns";
@plugin "@iconify/tailwind4";

@variant dark (&:is(.dark *));

@theme {
  --font-iranyekan: IRANYekan;

  --font-sans: "Inter";
  --font-comfortaa: "Comfortaa";

  --breakpoint-*: initial;
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1380px;

  --color-alert: var(--color-yellow-600);
  --color-info: var(--color-blue-600);
  --color-warning: var(--color-red-600);
  --color-success: var(--color-emerald-600);

  --color-background: hsl(0, 0%, 96%);
  --color-foreground: hsl(0, 0%, 3.9%);
  --color-muted: hsl(0, 0%, 96.1%);
  --color-muted-foreground: hsl(0, 0%, 45.1%);
  --color-popover: hsl(0, 0%, 98%);
  --color-popover-foreground: hsl(0, 0%, 15.1%);
  --color-card: hsl(0, 0%, 94.7%);
  --color-card-foreground: hsl(0, 0%, 3.9%);
  --color-border: hsla(0, 0%, 62%, 20%);
  --color-border-lighter: hsla(0, 0%, 62%, 45%);
  --color-primary: hsl(220, 91%, 54%);
  --color-primary-foreground: hsl(0, 0%, 98%);
  --color-secondary: hsl(0, 0%, 93.1%);
  --color-secondary-foreground: hsl(0, 0%, 9%);
  --color-accent: hsla(0, 0%, 82%, 50%);
  --color-accent-foreground: hsl(0, 0%, 9%);
  --color-destructive: var(--color-red-600);
  --color-destructive-foreground: var(--color-white);
  --color-input: hsl(0, 0%, 92%);
  --color-ring: hsl(0, 0%, 63.9%);

  --text-clamp: clamp(0.7rem, 3vw, 0.8rem);
  --text-clamp-lg: clamp(0.8rem, 4vw, 1rem);
  --text-clamp-xl: clamp(1.25rem, 5vw, 1.6rem);

  @keyframes caret-blink {
    0%,
    70%,
    100% {
      opacity: 1;
    }
    20%,
    50% {
      opacity: 0;
    }
  }
}

.dark {
  --color-alert: var(--color-yellow-500);
  --color-info: var(--color-blue-500);
  --color-warning: var(--color-red-500);
  --color-success: var(--color-emerald-500);

  --color-background: hsl(0, 0%, 7.04%);
  --color-foreground: hsl(0, 0%, 92%);
  --color-muted: hsl(0, 0%, 12.9%);
  --color-muted-foreground: hsla(0, 0%, 70%, 0.8);
  --color-popover: hsl(0, 0%, 10.6%);
  --color-popover-foreground: hsl(0, 0%, 86.9%);
  --color-card: hsl(0, 0%, 9.8%);
  --color-card-foreground: hsl(0, 0%, 98%);
  --color-border: hsla(0, 0%, 40%, 20%);
  --color-border-lighter: hsla(0, 0%, 40%, 30%);
  --color-primary: hsl(217 92% 76%);
  --color-primary-foreground: hsl(0, 0%, 9%);
  --color-secondary: hsl(0, 0%, 12.9%);
  --color-secondary-foreground: hsl(0, 0%, 92%);
  --color-accent: hsla(0, 0%, 40.9%, 30%);
  --color-accent-foreground: hsl(0, 0%, 90%);
  --color-destructive: var(--color-red-600);
  --color-destructive-foreground: var(--color-white);
  --color-ring: hsl(0, 0%, 54.9%);
  --color-input: hsl(0, 0%, 7.04%);
}
@utility container {
  padding-inline: 0.85rem;
  margin-inline: auto;
}

@layer base {
  @font-face {
    font-family: "IRANYekan";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("../fonts/iranyekan/IRANYekanXFaNum-Light.woff2") format("woff2");
  }

  @font-face {
    font-family: "IRANYekan";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("../fonts/iranyekan/IRANYekanXFaNum-Regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "IRANYekan";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/iranyekan/IRANYekanXFaNum-Medium.woff2") format("woff2");
  }

  @font-face {
    font-family: "IRANYekan";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../fonts/iranyekan/IRANYekanXFaNum-DemiBold.woff2")
      format("woff2");
  }

  @font-face {
    font-family: "IRANYekan";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url("../fonts/iranyekan/IRANYekanXFaNum-Bold.woff2") format("woff2");
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-iranyekan flex min-h-screen flex-col;
  }

  .dark {
    color-scheme: dark;
  }

  ::selection {
    background: #8884;
  }
  html {
    scrollbar-color: var(--color-foreground) transparent;
  }
  ::view-transition-group(root) {
    animation-duration: 0.7s;
    animation-timing-function: var(--expo-out);
  }

  ::view-transition-new(root) {
    animation-name: reveal-light;
  }

  ::view-transition-old(root) {
    z-index: -1;
    animation: none;
  }

  .dark::view-transition-old(root) {
    z-index: -1;
    animation: none;
  }

  .dark::view-transition-new(root) {
    animation-name: reveal-dark;
  }

  @keyframes reveal-dark {
    0% {
      clip-path: polygon(50% -71%, -50% 71%, -50% 71%, 50% -71%);
    }
    to {
      clip-path: polygon(50% -71%, -50% 71%, 50% 171%, 171% 50%);
    }
  }

  @keyframes reveal-light {
    0% {
      clip-path: polygon(171% 50%, 50% 171%, 50% 171%, 171% 50%);
    }
    to {
      clip-path: polygon(171% 50%, 50% 171%, -50% 71%, 50% -71%);
    }
  }
}
